<div class="w3-container w3-theme-l2">
    <h5>Description de l'enseignement</h5>
</div>
<div class="w3-row-padding  {{divClass}}">
    <label>Pré-requis</label>
    <div id='prerequis' class="w3-input w3-border" name="prerequis" type="text"  placeholder="pré-requis">{{data.prerequis|raw}}</div>
</div>
<div class="w3-row-padding {{divClass}}">
    <label>Connaissances acquises</label>
    <div id='connaissances' class="w3-input w3-border" name="connaissances" type="text"  placeholder="Connaissances acquises">{{data.connaissances|raw}}</div>
</div>
<div class="w3-row-padding {{divClass}}">
    <label>Compétences visées</label>
    <div id='competences' class="w3-input w3-border" name="competences" type="text"  placeholder="Compétences visées">{{data.competences|raw}}</div>
</div>
<div class="w3-row-padding {{divClass}}">
    <label>Syllabus</label>
    <div id='syllabus' class="w3-input w3-border" name="syllabus" type="text"  placeholder="Syllabus">{{data.syllabus|raw}}</div>
</div>
