
{% extends "admin/base_index.html.twig" %}

{% block section %}


    <ul>
        {% for domaine in domaineList %}
    <script>
        var idList_{{domaine.id}} = [
            {% for domaine_enseignement in domaine.domaine_enseignementList %}
            "{{ domaine_enseignement.enseignement.id }}",
            {% endfor %}
        ];
    </script>
        <li>{{ domaine.acronyme }} - {{ domaine.nom }}  
        <button onclick='doClickDomaine(idList_{{domaine.id}}, false)'>Tout cocher</button> 
        <button onclick='doClickDomaine(idList_{{domaine.id}}, true)'>Tout décocher</button> 

            <ul>
                {% for domaine_enseignement in domaine.domaine_enseignementList %}
                    {% set enseignement = domaine_enseignement.enseignement %}
                    {% if enseignement.actif %}
                    <li>
                        <input type='checkbox' onchange='doClick({{ enseignement.id }}, {{ enseignement.etat_ts ? 'true': 'false' }})' id_='{{ enseignement.id }}' {{ enseignement.etat_ts ? ' checked ':' ' }}>
                        <a href='/{{App.appName}}/enseignement/{{enseignement.id}}'>{{ enseignement.nuac }} - {{ enseignement.intitule }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>

        {% endfor %}
    </ul>
    <script>
        var idList_ = [
            {% for enseignement in horsDomaineList %}
                {% if enseignement.actif %}
                "{{ enseignement.id }}",
                {% endif %}
            {% endfor %}
        ];
    </script>
        <li>enseignement sans indication de domaine  
        <button onclick='doClickDomaine(idList_, false)'>Tout cocher</button> 
        <button onclick='doClickDomaine(idList, true)'>Tout décocher</button> 

            <ul>
                {% for enseignement in horsDomaineList %}
                    {% if enseignement.actif %}
                    <li>
                        <input type='checkbox' onchange='doClick({{ enseignement.id }}, {{ enseignement.etat_ts ? 'true': 'false' }})' id_='{{ enseignement.id }}' {{ enseignement.etat_ts ? ' checked ':' ' }}>
                        <a href='/{{App.appName}}/enseignement/{{enseignement.id}}'>{{ enseignement.nuac }} - {{ enseignement.intitule }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>


<style>

.toChange {
    background : yellow;
}

</style>


<script>

function doClick(id, etat ){
    elm = $("[id_ = "+id+" ]");
    
    n_etat = ! etat;
    elm.attr('disabled','disabled');
    if (n_etat){
        elm.attr('checked', 'checked');
    } else {
        elm.removeAttr('checked');
    }
    elm.parent().addClass('toChange');

    var jqxhr = $.post( "/{{ App.appName}}/admin/setEditionTS/Enseignement/"+(n_etat?'1':'0'), {id: id}, function(data) {
        if ('Done' !== data){ // alors cela s'est mal passé
            alert("Un problème a été détecté dans la mise à jour de l'état des enseignements");
            if (etat){
                elm.attr('checked', 'checked');
            } else {
                elm.removeAttr('checked');
            }
        }
        elm.parent().removeClass('toChange');
        elm.removeAttr('disabled');
    })
    .done(function() {
    })
    .fail(function() {
        elm.parent().removeClass('toChange');
        elm.removeAttr('disabled');
        alert("Un problème résaau semble être apparu lors dela mise à jour de l'état des enseignements");
    })
}


function doClickDomaine(idList, etat){

    n_etat = ! etat;

    idList.forEach(function(id){
        elm = $("[id_ = "+id+" ]");
        if (n_etat){
            elm.attr('checked', 'checked');
        } else {
            elm.removeAttr('checked');
        }
        elm.parent().addClass('toChange');
    });    

    var jqxhr = $.post( "/{{ App.appName}}/admin/setEditionTS/Enseignement/"+(n_etat?'1':'0'), {idList: idList}, function(data) {
        if ('Done' !== data){ // alors cela s'est mal passé
            alert("Un problème a été détecté dans la mise à jour de l'état des enseignements\nLe mieux est de recharger la page...");
            idList.forEach(function(id){
                if (etat){
                    elm.attr('checked', 'checked');
                } else {
                    elm.removeAttr('checked');
                }
            });    
        }
        idList.forEach(function(id){
            elm = $("[id_ = "+id+" ]");
            elm.parent().removeClass('toChange');
            elm.removeAttr('disabled');
        });    
    })
    .done(function() {
    })
    .fail(function() {
        idList.forEach(function(id){
            if (etat){
                elm.attr('checked', 'checked');
            } else {
                elm.removeAttr('checked');
            }
        });    
        alert("Un problème résaau semble être apparu lors dela mise à jour de l'état des enseignements");
    })
}
</script>
{% endblock %}


