{% extends "layout.html.twig" %}

{% block section %}

<div class="w3-card-4 w3-white w3-margin">

    <div class="w3-container w3-light-grey  w3-center">
        <b>Passage de tous les TS « en latence » à « à valider »</b>
    </div>
    {% if Prelim %}
    
    {% apply markdown_to_html %}

    Cette opération peut-être réalisée à n'importe quel moment.
    Elle s'applique aux lignes du TS pour lesquels il y a des un volume horaire associé.
    Les lignes concernées sont listées dans le tableau ci-dessous :

    Opération réalisées :
    - passage de « en latence » à « à valider » pour les lignes du TS pour lesquelles il y a volume horaire associé

    {% endapply %}
    {% else %}
    {% apply markdown_to_html %}

    L'opération a été réalisée avec les lignes listées ci-dessous.
    {% endapply %}
    {% endif %}


    <div class="w3-container w3-light-grey  w3-center">
        <b><a href='./forceAValider/confirm'>Effectuer cette action</a></b>
    </div>

    <table id="enLatence" class="display compact">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>NUAC</th>
                <th>Intitulé</th>
                <th class="w3-center" style='width: 4em'>Sem</th>
                <th class="w3-center" style='width: 3em'>CM</th>
                <th class="w3-center" style='width: 3em'>CTD</th>
                <th class="w3-center" style='width: 3em'>TD</th>
                <th class="w3-center" style='width: 3em'>TP</th>
                <th class="w3-center" style='width: 3em'>Extra</th>
                <th class="w3-center" style='width: 3em'>Bonus</th>
                <th class="w3-center" style='width: 3em'>Cor.</th>
                <th class="w3-center" style='width: 3em'>Valid.</th>
            </tr>
        </thead>
        <tbody>
            {% for V in enLatence %}
            {% set voeu = V.v %}
            <tr>
                <td><a href='/{{App.appName}}/personne/{{ voeu.personne.id }}'>{{ voeu.personne.nom }}</a></td>
                <td><a href='/{{App.appName}}/personne/{{ voeu.personne.id }}'>{{ voeu.personne.prenom }}</a></td>
                <td><a href='/{{App.appName}}/enseignement/{{ voeu.enseignement.id }}'>{{ voeu.enseignement.nuac }}</a></td>
                <td><a href='/{{App.appName}}/enseignement/{{ voeu.enseignement.id }}'>{{ voeu.enseignement.intitule }}</a></td>
                <td class="w3-center">{% if voeu.enseignement.enseignement_periode.periode == "{1}" %}
                    S1
                    {% elseif voeu.enseignement.enseignement_periode.periode == "{2}" %}
                    S2
                    {% elseif voeu.enseignement.enseignement_periode.periode == "{3}" %}
                    Ann
                    {% else %}
                    ????
                    {% endif %}
                </td>
                <td class="w3-center">{{voeu.cm|f2}}</td>
                <td class="w3-center">{{voeu.v.ctd|f2}}</td>
                <td class="w3-center">{{voeu.td|f2}}</td>
                <td class="w3-center">{{voeu.tp|f2}}</td>
                <td class="w3-center">{{voeu.extra|f2}}</td>
                <td class="w3-center">{{voeu.bonus|f2}}</td>
                <td class="w3-center">{{voeu.responsable=='t'?'Corr':''}}</td>
                <td class="w3-center">{{etat[voeu.etat_ts] }}</td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>

<script>
    $(document).ready(function () {
        $('#enLatence').DataTable({
            order: [[0, "asc"], [1, "asc"]],
            dom: 'Bfrtip',
            paging: false,
            buttons: [
                'copy',
                'excel',
                'csv',
                {
                    extend: 'pdf',
                    orientation: 'portrait'
                }
            ]
        });
    });
</script>


{% endblock %}


