<div class="w3-dropdown-hover">
    <button class="w3-button" ><i class="fa fa-bars"></i> {{ App.appName }}{{ App.currentYear }}</button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width: 300px">
        <a href="/{{ App.appName }}/texte/introduction" class="w3-bar-item w3-button">Accueil</a>
        <hr style='margin: 0px 20px 0px 20px;'>
        <a href="/{{ App.appName }}/user_session" class="w3-bar-item w3-button">Choix de la session</a>
        <a href="/{{ App.appName }}/record" class="w3-bar-item w3-button">Enregistrement</a>
        <a href="/{{ App.appName }}/view" class="w3-bar-item w3-button">Lecture</a>
    </div>
</div>


