{% if P.voeuList %}
<table>
    <thead>
        <tr>
            <th style='width: 20em; text-align:left;'>Enseignement</th>
            <th style='width: 3em; text-align:center;'>CM</th>
            <th style='width: 3em; text-align:center;'>CTD</th>
            <th style='width: 3em; text-align:center;'>TD</th>
            <th style='width: 3em; text-align:center;'>TP</th>
            <th style='width: 3em; text-align:center;'>Extra</th>
            <th style='width: 3em; text-align:center;'>Bonus</th>
            <th style='width: 3em; text-align:center;'>Anc.</th>
            <th style='width: 3em; text-align:center;'>Corr.</th>
            <th style='width: 3em; text-align:center;'>hTD</th>
            <th style='width: 10em; text-align:center;'>Reste<br>à pourvoir</th>
        </tr>
    </thead>
    <tbody>
        {% for v in P.voeuList %}
            {% if v.actif and v.enseignement.actif %}        
        <tr>
            <td style='width: 20em; text-align:left; {{ (0+v.enseignement.voeu_enseignement_bilan.heures)<-0.01?'color: red;'}}{{ (0+v.enseignement.voeu_enseignement_bilan.heures)>0.01?'color: green;'}}'>{{ v.enseignement.code }} - {{ v.enseignement.nom }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.cm|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.ctd|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.td|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.tp|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.extra|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.bonus|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.anciennete|f2 }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.correspondant?'oui':'' }}</td>
            <td style='width: 3em; text-align:center;'>{{ v.voeu_bilan_ligne.heures|f2 }}</td>
            <td style='width: 10em; text-align:center; {{ (0+v.enseignement.voeu_enseignement_bilan.heures)<-0.01?'color: red;'}}{{ (0+v.enseignement.voeu_enseignement_bilan.heures)>0.01?'color: green;'}}'>{{ v.enseignement.voeu_enseignement_bilan.heures|f2 }}</td>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>



{% else %}
    ### Pas de vœux émis pour l'année {{ App.currentYear }} - {{ App.currentYear +1 }}
{% endif %}
