<script>
    //function toggleHistorique(){
    //    $('#historique').toggleClass('w3-hide');
    //    $('#toggleHistorique').toggleClass(['fas', 'far']);
    //}
    function loadHistorique(){
        var e = document.getElementById("selectHistorique");
        var url = '/{{ App.appName }}/personne/historique/{{ personne.id}}/'+e.options[e.selectedIndex].value;
        $('#historiqueContent').load(url);
    }
    $(document).ready(function() {
        loadHistorique();
    });
    
</script>


<div class="w3-container w3-card w3-theme-l1 w3-round w3-margin">
    <details id='details_historique'>
        <summary>
            Historique
            <select id="selectHistorique" onchange="loadHistorique(); $('#details_historique')[0].open = true;">
                {% for annee in App.historyYearList %}
                    {% set isCurrent = (annee == App.currentYear-1) %}
                    <option value="{{ annee }}"  {{  isCurrent ? "selected" : "" }} >{{App.appName}} {{ annee }}</option>
                {% endfor %} 
            </select>
            {% if canHistorique %}
            <div class='w3-right'><a href='/{{ App.appName }}/personne/historique/{{ personne.id}}' target='blank'>Historique complet</a></div>
            {% endif %}
            
        </summary>
        <div id='historique' class='w3-responsive'  style="font-size: small">
            <div id='historiqueContent'>C'est là que doit venir l'ajax</div>
        </div>
    </details>
</div>
