{% extends "layout.html.twig" %}

{% block section %}

<style>
.vertical {
    writing-mode: sideways-lr;
    width: 1.5em;
}

.situ_ref {
    width: 30em;
}

.v_intitule {
    width: 30em;
}

</style>



<h3>Historique du tableau de service de {{ P.prenom }} {{ P.nom }}</h3>

<table id='historique' class="display compact">
    <thead>
        <tr>
            <th>Année</th>
            <th>Situation/Réferentiel</th>
            <th>code</th>
            <th>Intitulé</th>
            <th>Volume hETD</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>                
    {% set odd = true %}
    {% for year, H in HL %}
       {% set odd = not odd %}
        {% for V in H.VList %}
        {% set T = [] %}
        {% if V.cm > 0 %} {% set T = T|merge(['CM']) %} {% endif %}
        {% if V.td > 0 %} {% set T = T|merge(['TD']) %} {% endif %}
        {% if V.ctd > 0 %} {% set T = T|merge(['CMTD']) %} {% endif %}
        {% if V.tp > 0 %} {% set T = T|merge(['TP']) %} {% endif %}
        {% if V.extra > 0 %} {% set T = T|merge(['Ex']) %} {% endif %}
    
        <tr class='{{ odd?"w3-theme-l5":"w3-theme-l4"}}'>        
            {% if loop.first %}
            <td rowspan='{{ H.VList|length }}' class='vertical' >{{year}}<br>{{ H.statut.nom }}<br>{{ H.statut.obligation }} hETD</td>
            <td rowspan='{{ H.VList|length }}' class='situ_ref' >
            {% if H.situationList|length >0 %}
                <div>Situations Parcticulières :</div>
                <ul>
                    {% for S in H.situationList %}
                        <li>{{ S.reduction }} hETD  - {{ S.nom }} - {{ S.commentaire }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if H.referentielList|length >0 %}
                <div>Référentiels :</div>
                <ul>
                    {% for R in H.referentielList %}
                        {% if R.referentiel == 4 %}
                        {% set stages = R.commentaire|json_decode %}
                        {% set SL = [] %}
                        {% for S in stages %}
                        {% set SL = SL|merge([S.nom]) %}
                        {% endfor %}
                        <li>{{ R.volume }} hETD  - Stages {{ SL|join(", " )}}</li>
                    {% else %}                    
                        <li>{{ R.volume }} hETD  - {{ R.commentaire }}</li>
                    {% endif %}                    
                    {% endfor %}
                </ul>
            {% endif %}       
            </td>
            {% else %}
            {% endif %}
            <td>{{ V.code }}</td>
            <td class='v_intitule'>{{ V.nom }}</td>
            <td>{{ V.hetd|f2 }} hETD</td>
            <td>{{ T|join(", ")}}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>                
</table>
<br>
<br>


<script>
    $(document).ready(function () {
        $('#historique').DataTable({
            order: [[0, "asc"], [1, "asc"]],
            dom: 'Bfrtip',
            paging: false,
            buttons: [
                'copy',
                'excel',
                'csv',
                {
                    extend: 'pdf',
                    orientation: 'portrait'
                }
            ]
        });
    });
</script>


{% endblock %}