# Procédure de répartition des enseignements {{ App.currentYear }} - {{ App.currentYear + 1 }}

## Etape 1  : exploration et vérification

Cette phase a pour but de :

- vérifier les informations vous concernant,
- vous permettre d’explorer les enseignements et maquettes de l’année à venir,
- faciliter le contact avec les responsables de filière,
- vous permettre d’exprimer vos préférences générales ; cela sera utile dans les phases suivantes si la foire doit vous proposer des enseignements différents de vos vœux.

### Fiabilisation des informations personnelles

Les informations de ce paragraphe sont modifiables en cliquant sur l’icône  <i class="far fa-edit"></i>
 de votre [fiche personnelle](/{{App.appName}}/personne/{{App.auth.user.id}}) .

Nous vous invitons à vérifier et à modifier vos
coordonnées professionnelles (nom, prénom, laboratoire, adresse, numéro de
téléphone) .

Notez qu'il est possible d'entrer ses coordonnées personnelles. Par défaut, celles-ci sont visibles par les personnes possédant un mot de passe pour se connecter sur le site de la foire. Vous pouvez en restreindre l’accès aux seuls administrateurs du site.

Dans un souci de convivialité, il est souhaitable que vous montriez une photo d'identité électronique. 
C'est en particulier important pour les jeunes collègues qui ne connaissent 
pas ou peu les membres de l'UFR. 
Cliquez sur *Changer la photo*, et indiquez la
localisation sur votre ordinateur de votre fichier photo au format gif, jpg ou
encore png.

Si votre statut a changé par rapport à l'an passé (par exemple si vous avez 
obtenu un CRCT, une délégation, etc.) et que cela n'a pas été pris en compte dans la foire, envoyez un mail à 
[foirephy@gmail.com](mailto:foirephy@gmail.com)

Sur votre fiche, il y a plusieurs informations :

- Sous votre photo, dans Situations Particulières sont listés :
	+ le report des heures de {{ App.currentYear-1 }} - {{ App.currentYear }} ;
	+ vos éventuelles PCC/PCA
	+ vos éventuels arrêts de travail
	+ toute autre situation particulière qui modifie votre service d'enseignement qui est donné juste en-dessous de cette liste "Charge: XXX hETD"
- Sur la droite, trois onglets s'ouvrent quand vous cliquez dessus. Ils ne sont visibles que par vous, les responsables administratifs de l'UFR et les responsables de la foire :
	+ "Commentaires" : informations qui expliquent certaines modifications du service (remplacement de collègues par exemple) ;
	+ "Documents" : documents qui peuvent être utiles à justifier votre service d'enseignement (arrêts de travail, convention avec un autre institut, etc) ;
	+ "Stages" : déclaration de l'encadrement de stagiaires de L3 ou M1 donnant droit à 6hETD/étudiant (plafonner à 12hETD/an).

### Exploration des enseignements et des maquettes

Pour explorer les différents enseignements dispensés par notre UFR le plus 
simple est d'indiquer une partie du nom ou du code de l'enseignement recherché
dans le champ de la barre de recherche
<input class='w3-text-black' placeholder="Enseignement" disabled>
<button class="w3-padding-small w3-tail w3-round-xlarge" disabled><i class="fas fa-search "></i><i class="fas fa-graduation-cap"></i></button>
puis de valider ou de cliquer sur le bouton.

Vous pouvez ensuite spécifier un cursus, un semestre, une structure (ou département) ou une étape (i.e. maquette), ou une combinaison de ces critères.

Dans le champ 
`Enseignement recherché` : <input placeholder="intiulé, code..." disabled>,
vous pouvez spécifier un intitulé d'enseignement, même partiel. Le filtrage 
permet d'afficher un sous-ensemble de la recherche.

Dans les fiches enseignement, vous trouverez :

- un syllabus détaillant le contenu de l'enseignement et les modalités
de contrôle des connaissances ; si vous êtes correspondant.e  de l'enseignement
ou responsable d'une filière associée, et que vous souhaitez modifier ce syllabus, il convient d'informer la foire, [foirephy@gmail.com](mailto:foirephy@gmail.com) ;
- les cursus auxquels appartiennent l'enseignement ; en cliquant sur le lien de l'étape, vous ferez apparaître la liste des enseignements de cette étape avec ceux pour lesquels l'UFR de physique fournit des heures (Enseignements présents dans la base de données) et les autres (Enseignements absents dans la base de données).</li>

### Contact avec les responsables de filière

Malgré le soin apporté à rendre exact la base de données, certaines fiches 
enseignement peuvent être erronées ou manquer. Si vous détectez une erreur
ou bien si vous souhaitez nous apporter des 
précisions, merci de contacter le responsable de la filière concernée,
il rassemblera toutes les modifications à faire et les transmettra à 
[foirephy@gmail.com](mailto:foirephy@gmail.com).

Une autre raison de contacter les responsables de filières est de les informer
de votre souhait de prendre en charge un enseignement dans cette filière.

Voici les coordonnées des [responsables de filières](/{{App.appName}}/texte/adresses).

Vous pouvez également trouver les coordonnées 
de tous les enseignants de l'UFR de physique en faisant une 
recherche libre sur leur nom en utilisant *Recherche*.
<input class="w3-text-black" placeholder="Recherche" disabled>
<button class="w3-padding-small w3-tail w3-round-xlarge" disabled><i class="fas fa-search "></i><i class="fas fa-user"></i></button>

### Le panier !

Dans votre panier, la foire vous encourage à déposer tous les enseignements auxquels vous aimeriez participer si vous aviez un temps inifini à consacrer à l'enseignement. Cela est différent des vœux que vous ferez au cours de l'étape 2. La foire utilisera votre panier pendant l'étape 3 si certains de vos vœux doivent être modifiés.

Pour ajouter un enseignement dans votre panier, il suffit d'appuyer sur *Ajouter au panier* sur la page de l'enseignement qui vous intéresse. Au moment où vous ajouter un enseignement dans votre panier, vous pouvez :

- préciser ce qui vous intéresse : cours (CM), cours-TD (CTD), travaux dirigés (TD), travaux pratiques (TP); 
- ajouter un commentaire qui pourrait être utile à la foire pendant l'étape 3.

Le contenu de votre panier apparaît alors dans votre page de profil sous le cartouche indiquant vos coordonnées.
Il n'est visbile que par vous et par les responsables de la foire. Pour information, il est précisé à tous, sans faire apparaître de noms, combien de paniers contiennent chaque enseignement.

### Différence entre Panier et Vœux

- Panier : placez-y tous les enseignements qui pourraient vous intéresser. Cela permettra aux responsables de la foire de vous proposer des enseignements qui vous plaisent au cas où vos vœux ne peuvent pas être réalisés. Sans information, les responsables de la foire vous proposeront ce qui les arrange.
- Vœux : il s'agit des enseignements que vous aimeriez faire en {{ App.currentYear }} - {{ App.currentYear + 1 }} (l'ensemble de ces enseignements est inclus dans votre panier).

## Étape 2 : les vœux

L'accès aux vœux sera possible du  **{{ App.texte.debutVoeux }}** jusqu'au **{{ App.texte.limiteVoeux }}**.

### Consultation des règles d'attribution des services

En premier lieu, il est nécessaire de s'approprier les règles d'attribution des services :

- [Règles pour les enseignants non-permanents](/{{App.appName}}/texte/non-permanents) (chercheurs, postdoct, doctorant, ATER, vacataires),
- [Règles pour les enseignants permanents](/{{App.appName}}/texte/regles) (MCF, prof)

### Émission des vœux

Pour émettre un vœu, suivre l'aide en ligne [Comment émettre un vœu ?](/{{App.appName}}/texte/voeu).


{# Pour émettre un vœu il faut d'abord sélectionner un enseignement et l'ajouter à son panier.
Notez qu'il est possible de rechercher spécifiquement des enseignements
sous-encadrés ou bien dont les enseignants ne sont plus prioritaires en cochant
la case <span><input type='checkbox' disabled='disabled'>*Enseignements potentiellement accessibles*</span>.

Une fois que vous avez trouvé un enseignement dans lequel vous
souhaitez enseigner, vous pouvez formuler votre souhait en cliquant
dessus et en utilisant le bouton **<button>Ajouter
un vœu</button>** pour ensuite indiquer le nombre de groupes de
Cours, Cours-TD,  TD, TP que vous souhaitez encadrer.
Précisez (et c'est important) si vous êtes le correspondant de l'enseignement.  #}


Faites des vœux dans la limite de votre service. Si vous dépassez cette limite,
la foire supprimera au choix et sans vous prévenir des vœux surnuméraires.

Si un vœux concerne la prise en charge d'un enseignement, nous vous encourageons à contacter le responsable de la filière ([coordonnées des responsables de filière](/{{App.appName}}/texte/adresses)).

En cas de problème, les responsables de la foire sont joignables par courrier électronique 
[foirephy@gmail.com](mailto:foirephy@gmail.com)
ou de vive voix :

- Raphaël Galicher, bâtiment Condorcet pièce 343A, 01 57 27 70 63 / 01 45 07 75 83
- Olivier Cardoso, bâtiment Condorcet pièce 792A, 01 57 27 53 71.

## Étape 3

Du {{ App.texte.debutDiagonalisation }} au {{ App.texte.finDiagonalisation }}, sur la base de vos vœux et du contenu de votre panier, la foire diagonalisera la base de données, en consultant les responsables de filière si besoin. Nous proposerons des modifications aux 
vœux afin que tous les enseignements soient exactement pourvus.

## Étape 4

La foire {{ App.currentYear }} sera clôturée le {{ App.texte.dateFoire }}. L'UFR de physique vous invite à un buffet le {{ App.texte.dateFoire }} entre 11h30 et 14h00.
