# Comment émettre un vœu pour les enseignements {{ App.currentYear }} - {{ App.currentYear+1 }} ?

L'accès aux vœux sera possible du  **{{ App.texte.debutVoeux }}** jusqu'au **{{ App.texte.limiteVoeux }}**.

## Consultation des règles d'attribution des services

En premier lieu, il est nécessaire de s'approprier les règles d'attribution des services :

- [Règles pour les enseignants non-permanents](/{{App.appName}}/texte/non-permanents) (chercheurs, postdoct, doctorant, ATER, vacataires),
- [Règles pour les enseignants permanents](/{{App.appName}}/texte/regles) (MCF, prof)

Faites des vœux dans la limite de votre service. Dans le cas contraire, si les responsables de la foire peuvent supprimer des vœux en conservant votre service au-dessus du service de référence, ils le feront sans vous prévenir.

## Émission d'un vœu

Pour émettre un vœu sur un enseignement, il faut dans l'ordre:

- placer cet enseignement dans votre panier (lire [la procédure](/{{App.appName}}/texte/procedure)) ;
- cliquer sur *Transformer en vœu* ;
- préciser le nombre entier de groupes de CM, CTD, TD, TP que vous souhaitez encadrer ;
- préciser (et c'est important) si vous êtes le correspondant de l'enseignement.

Vous pouvez modifier ou supprimer un vœu en vous rendant sur la page de l'enseignement concerné et en cliquant sur *Modifier le vœu* ou *Supprimer le vœu*.

## Recherche des enseignements en sous-effectif

Sur la page de recherche d'un enseignement, il est possible de rechercher spécifiquement des enseignements sous-encadrés ou bien dont les enseignants ne sont plus prioritaires en cochant la case<br>
<span><input type='checkbox' disabled='disabled'>Enseignements potentiellement accessibles (en sous effectif)</span> .

## Problème technique
En cas de problème, les responsables de la foire sont joignables par courrier électronique 
    [foirephy@gmail.com](mailto:foirephy@gmail.com).
{#    ou au téléphone : #}
{#- Raphaël Galicher , bâtiment Condorcet pièce 343A, 01 57 27 70 63 / 01 45 07 75 83 ; #}
{#- Olivier Cardoso , bâtiment Condorcet pièce 792A, 01 57 27 53 71. #}
