{% extends "layout.html.twig" %}

{% block section %}

{% if eList is empty %}
<br>
<br>
<h3 style="background-color:LightCoral">Tout le monde a fait ses voeux</h3>
{% else %}
<br>
<h3>Les enseignants qui n'ont pas fait leurs voeux (mais qui auraient dû)</h3>

<table id="listE" class="display compact">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>mail</th>
            <th>Statut</th>
            <th>Charge</th>
        </tr>
    </thead>
    <tbody>
        {% for e in eList %}
        <tr>
            <td><a href='/{{ App.appName }}/personne/{{ e.personne.id }}'>{{ e.personne.nom }}</a></td>
            <td><a href='/{{ App.appName }}/personne/{{ e.personne.id }}'>{{ e.personne.prenom }}</a></td>
            <td>{{ e.personne.email }}</td>
            <td>{{ e.statut.nom_court }}</td>
            <td>{{ e.personne_charge.charge }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#listE').DataTable({
            order: [[0, "asc"], [1, "asc"]],
            dom: 'Bfrtip',
            paging: false,
            buttons: [
                'copy',
                'excel',
                'csv',
                {
                    extend: 'pdf',
                    orientation: 'portrait'
                }
            ]
        });
    });
</script>
    {% endif %}
{% endblock section %}