{% extends "layout.html.twig" %}

{% block aside %}{% endblock %}

{% block section %}
    <div class="w3-container w3-content" style="max-width:1600px;margin-top:80px">    
        <h3>Liste des Enseignants rattachés au domaine {{ D.getGeneric() }}</h3>

        <table id='list'>
            <thead>
                <th>OSE</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>domaine 1</th>
                <th>quotité 1</th>
                <th>domaine 2</th>
                <th>quotité 2</th>
            </thead>
            <tbody>
                {% for P in personneList %}
                {% set d1 = P.domaine_personneList[0].domaine %}
                {% set d2 = P.domaine_personneList[1].domaine %}
                {% set q1 = P.domaine_personneList[0].quotite %}
                {% set q2 = P.domaine_personneList[1].quotite %}
                {% set q = q1+q2 %}
                {% if q %}
                    {% if q2 > q1 %}
                        {% set quotite1=  100*q2/q %}
                        {% set quotite2=  100*q1/q %}
                    {% else %}
                        {% set quotite1=  100*q1/q %}
                        {% set quotite2=  100*q2/q %}
                    {% endif %}
                    <tr>
                        <td><a href='/{{App.appName}}/personne/{{P.id}}'>{{ P.ose }}</a></td>
                        <td><a href='/{{App.appName}}/personne/{{P.id}}'>{{ P.prenom }}</a></td>
                        <td><a href='/{{App.appName}}/personne/{{P.id}}'>{{ P.nom }}</a></td>
                        <td>{{ d1.acronyme }}</td>
                        <td>{{ quotite1|f2 }}</td>
                        <td>{{ d2.acronyme }}</td>
                        <td>{{ quotite2|f2 }}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div> 

    <script>
        $(document).ready(function () {
            $('#list').DataTable({
                // order: [[0, "asc"]],
                dom: 'Bfrtip',
                paging: false,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    {
                        extend: 'pdf',
                        orientation: 'landscape'
                    }
                ]
            });
        });
    </script>
{% endblock %}
